<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{tabTitle}}</title>
  <link rel="stylesheet" type="text/css" href="./style/style.css">
  <style>
    body {
      background-image: url('{{image}}');
    }
  </style>
</head>

<body>
  <div class="headign">
    <h1>{{pageTitle}}</h1>
  </div>
  <ul class="topnav">
    <li><a class="{{homeActive}}" href="/">Home</a></li>
    <li><a class="{{projectActive}}" href="/project">My Project</a></li>
    <li><a class="{{helpActive}}" href="/help">Help</a></li>
    <li class="right"><a class="{{aboutActive}}" href="/about">About</a></li>
  </ul>
