<!-- {{> header}} -->
<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>{{tabTitle}}</title>
</head>

<body>
  <h1>{{pageTitle}}</h1>
  <header>
    <!-- <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>
    <p><a href="/help">Help</a></p> -->
  </header>
<p>{{p}}</p>
<footer>Copyright {{getCurrentYear}}</footer>
</body>
</html>

<!-- {{> footer}} -->
